/* Custom CSS */

#ez-fat-footer-1 {
	border-right: 1px ridge #705016;
	height: 160px;
}
#ez-fat-footer-2 {
	border-right: 1px ridge #705016;

height: 160px;
}
#ez-fat-footer-3 {
	border-right: 1px ridge #705016;

height: 160px;

}
#ez-fat-footer-4 {
height: 160px;
}
#ez-home-sidebar-1 {	margin: -10px 0px 0px 0px;
}

